<%= form_with(model: payment_transaction) do |form| %>
  <% if payment_transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment_transaction.errors.count, "error") %> prohibited this payment_transaction from being saved:</h2>

      <ul>
        <% payment_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :transaction_date, style: "display: block" %>
    <%= form.date_field :transaction_date %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :payment_card, style: "display: block" %>
    <%= form.text_field :payment_card %>
  </div>

  <div>
    <%= form.label :payed_at, style: "display: block" %>
    <%= form.time_field :payed_at %>
  </div>

  <div>
    <%= form.label :store_owner, style: "display: block" %>
    <%= form.text_field :store_owner %>
  </div>

  <div>
    <%= form.label :store_name, style: "display: block" %>
    <%= form.text_field :store_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= form_with url: payment_transactions_path, local: true, multipart: true do |form| %>
  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <div class="actions">
    <%= form.submit 'Upload' %>
  </div>
<% end %>
