<%= render :partial => "application/nav" %>
<p style="color: green"><%= notice %></p>

<%= render @payment_transaction %>

<div>
  <%= link_to "Edit this payment transaction", edit_payment_transaction_path(@payment_transaction) %> |
  <%= link_to "Back to payment transactions", payment_transactions_path %>

  <%= button_to "Destroy this payment transaction", @payment_transaction, method: :delete %>
</div>
