<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction date:</strong>
    <%= transaction.transaction_date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= transaction.value %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= transaction.cpf %>
  </p>

  <p>
    <strong>Payment card:</strong>
    <%= transaction.payment_card %>
  </p>

  <p>
    <strong>Payment at:</strong>
    <%= transaction.payment_at %>
  </p>

  <p>
    <strong>Store owner:</strong>
    <%= transaction.store_owner %>
  </p>

  <p>
    <strong>Store name:</strong>
    <%= transaction.store_name %>
  </p>

</div>
